{% extends 'Home/homepage.html.twig' %}
{% block body %}
    {% block bubbles %}
        {{ parent() }}
    {% endblock %}
    {% block navbar %}
        {{ parent() }}
    {% endblock%}

    {% block smallContainer %}
        <div class="appointment-content col-6" style="background: white;">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" style="text-align: center;">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('errorPassword') %}
            <div class="alert alert-danger" style="text-align: center">{{ message }}</div>
            {% endfor %}
            {% if notSuccess %}
            <span class="sub-title">Rivendos Passwordin</span>
            <h4>
                <strong>
                    Rivendosni nje Password per Llogarine tuaj!
                </strong>
            </h4>

            <form method="POST" action="{{ path('app_renew_password',{'email':email}) }}">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <div class="icon">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </div>
                            <label for="newPassword">Password: </label>
                            <input type="password" name="newPassword" id="newPassword" required="true">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <div class="icon">
                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            </div>
                            <label for="smsCode">Ndrysho Passwordin</label>
                            <input class="btn butoni" type="submit" name="submit" id="submit" value="Konfirmo">
                        </div>
                    </div>
                </div>
            </form>
            {% else %}
                <a class="btn butoni" href="{{ path('homepage') }}">Rikthehu ne Faqen kryesore</a>
            {% endif %}
        </div>
    {% endblock%}



{#    {% block smallContainer %}#}
{#        <div class="col-6" style="background: white;">#}

{#            {% for message in app.flashes('success') %}#}
{#                <div class="alert alert-success">{{ message }}</div>#}
{#            {% endfor %}#}
{#            {% for message in app.flashes('errorPassword') %}#}
{#                <div class="alert alert-danger">{{ message }}</div>#}
{#            {% endfor %}#}
{#            {% if notSuccess %}#}
{#            Rivendos Passwordin:#}
{#            <form method="POST" action="{{ path('app_renew_password',{'email':email}) }}">#}
{#                Password-i i ri: <input type="password" name="newPassword" id="newPassword">#}
{#                <input type="submit" name="submit" id="submit" value="Konfirmo">#}
{#            </form>#}
{#            {% else %}#}
{#                <a href="{{ path('homepage') }}">Rikthehu ne Faqen kryesore</a>#}
{#            {% endif %}#}
{#        </div>#}
{#    {% endblock%}#}

    {% block footer %}
        {{ parent() }}
    {% endblock%}
{% endblock %}