{% extends 'base.html.twig' %}
{% block title %}Menaxhimi i nje Qendre Spitalore{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <script src="https://kit.fontawesome.com/e63f0d911b.js" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset('css/bubblesStyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/sliderCSS.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styles1.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/stylesTestimonial.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/doctorsStyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/footerCSS.css') }}">
    {% endblock %}
{% block body %}
<ul class="bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<header>
    <a href="#" class="logo"><img src="{{ asset('images/logo.png') }}" height="66" width="203"></a>
    <div class="menu-toggle"></div>
    <nav>
        <ul>
            <li><a href="#">Faqe1</a></li>
            <li><a href="#">Faqe2</a></li>
            <li><a href="#">Faqe3</a></li>
            <li><a href="#">Faqe4</a></li>

            {% if is_granted('ROLE_USER') %}
                <li><a href="#">Hello {{ app.user.firstName }}</a></li>
            {% else %}
                <li><a href="#">Faqe5</a></li>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <li><a href = "{{ path('app_logout') }}">Logout</a></li>
                {# Gjera te tjera qe mund te kete nese eshte loguar#}
            {% else %}
                <li><a href = "{{ path('app_login') }}">Login</a></li>
            {% endif %}

        </ul>
    </nav>
    <div class="clearfix">
    </div>
</header>

<!-- SERVICES -->
<section class="main-services-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Main Features</span>
            <h2>Our Main Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="main-services-box">
                    <div class="icon">
                        <i class="flaticon-doctor"></i>
                    </div>
                    <h3><a href="#">Advanced Care</a></h3>
                    <p>Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="main-services-box">
                    <div class="icon">
                        <i class="flaticon-dental-chair"></i>
                    </div>
                    <h3><a href="#">Internal Medicine</a></h3>
                    <p>Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="main-services-box">
                    <div class="icon">
                        <i class="flaticon-care"></i>
                    </div>
                    <h3><a href="#">Otolaryngology</a></h3>
                    <p>Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="main-services-box">
                    <div class="icon">
                        <i class="flaticon-brain"></i>
                    </div>
                    <h3><a href="#">Ophthalmology</a></h3>
                    <p>Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="more-services-btn">
                    <a href="#" class="btn butoni">More Services <i class="flaticon-right-chevron"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SERVICES -->


<!-- SLIDER -->
<section>
</section>
<!-- SLIDER -->

<!--TESTIMONIALS-->
<section id="client"  style="margin: 20px auto;">
    <div class="container-fluid testimonial-container">
        <!--
        <div class="row">

            <div class="col-md-12">
                <div class="main-title wow fadeIn" data-wow-delay="300ms">
                   <br><br>
                    <h1 class="text-center"> NICE TESTIMONIALS </h1>

                </div>
            </div>
        </div>
        <br><br>-->
        <div class="row m-0">
            <div class="col-sm-12 align-items-center">
                <div class="owl-testimonial owl-carousel owl-theme">

                    <!--Testimonial Section-->
                    <div class="testimonial-item  text-center">
                        <div class="testimonial-box">
                            <div class="testimonial-text">
                                <p>Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim mi ac, varius magna. porta. dignissim mi ac, varius magna. </p>
                                <span class="testimonial-date">December 20, 2018</span>
                                <span class="testimonial-arrow position-absolute"></span>
                            </div>
                        </div>
                        <div class="testimonial-photo"><img alt="" src="{{ asset('images/team-1.jpg') }}"></div>
                        <h5 class="text-capitalize color-black mt-3 mb-1">Evald Nexhipi</h5>
                        <p class="color-pink">Businessman</p>
                    </div>
                    <!--Testimonial Section-->
                    <div class="testimonial-item item text-center">
                        <div class="testimonial-text position-relative mb-4">
                            <p>Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim mi ac, varius magna. porta. dignissim mi ac, varius magna. </p>
                            <span class="testimonial-date">October 13, 2018</span>
                            <span class="testimonial-arrow position-absolute"></span>
                        </div>
                        <div class="testimonial-photo"><img alt="" src="{{ asset('images/team-4.jpg') }}"></div>
                        <h5 class="text-capitalize color-black mt-3 mb-1">Kevin Dule</h5>
                        <p class="color-pink">Model</p>
                    </div>
                    <!--Testimonial Section-->
                    <div class="testimonial-item item text-center">
                        <div class="testimonial-text position-relative mb-4">
                            <p>Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim mi ac, varius magna. porta. dignissim mi ac, varius magna. </p>
                            <span class="testimonial-date">April 23, 2018</span>
                            <span class="testimonial-arrow position-absolute"></span>
                        </div>
                        <div class="testimonial-photo"><img alt="" src="{{ asset('images/team-2.jpg') }}"></div>
                        <h5 class="text-capitalize color-black mt-3 mb-1">Teena Williamson</h5>
                        <p class="color-pink">SEO Specialist</p>
                    </div>
                    <!--Testimonial Section-->
                    <div class="testimonial-item  item text-center">
                        <div class="testimonial-text position-relative mb-4">
                            <p>Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim mi ac, varius magna. porta. dignissim mi ac, varius magna. </p>
                            <span class="testimonial-date">June 04, 2018</span>
                            <span class="testimonial-arrow position-absolute"></span>
                        </div>
                        <div class="testimonial-photo"><img alt="" src="{{ asset('images/team-3.jpg') }}"></div>
                        <h5 class="text-capitalize color-black mt-3 mb-1">Micheal Anderson</h5>
                        <p class="color-pink">The New Company</p>
                    </div>
                    <!--Testimonial Section-->
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Start Doctor Area -->
<section class="main-services-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Doctors</span>
            <h2>Meet Our Qualified Doctors</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row clearfix">
            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="{{ asset('images/doktor1.jpg') }}" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icons">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-google"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-skype"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                            <a href="#" class="appointment">Make Appointment</a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#">Dr. Andria Jonea</a></h3>
                        <div class="designation">Cancer Specialist</div>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="{{ asset('images/doktor2.jpg') }}" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icons">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-google"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-skype"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                            <a href="#" class="appointment">Make Appointment</a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#">Dr. Robet Samith</a></h3>
                        <div class="designation">Heart Surgen</div>
                    </div>
                </div>
            </div>


            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="{{ asset('images/doktor3.jpg') }}" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icons">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-google"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-skype"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                            <a href="#" class="appointment">Make Appointment</a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#">Dr. Sharon Laura</a></h3>
                        <div class="designation">Family Physician</div>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="750ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="{{ asset('images/doktor4.jpg') }}" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icons">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-google"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-skype"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                            <a href="#" class="appointment">Make Appointment</a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#">Dr. Alex Furgosen</a></h3>
                        <div class="designation">Ortho Specialist</div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</section>
<!-- End Doctor Area -->



<!--FOOTER-->
<div id = "footer" class="container-fluid testimonial-container">
    <footer class="mainfooter" role="contentinfo">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Cilet jemi ne?</h4>
                            <ul class="list-unstyled">
                                <li><p>Qendra Spitalore MegaSpital është spital privat i nivelit ndërkombëtar
                                        me një investim fillestar prej 60 milion euro, duke
                                        qenë i vetmi spital në Shqipëri i konceptuar që në fillesat
                                        e tij si strukturë spitalore,
                                        si nga pikëpamja strukturore ashtu edhe nga ajo funksionale.</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Kontakt</h4>
                            <ul class="list-unstyled">
                                <li><b>Qendra Spitalore</b></li>
                                <li>Sekretaria: + 355 4 00 000</li>
                                <li>Urgjenca: +355 00 00 001</li>
                                <li>Email: info@megaspital.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Ku Ndodhemi</h4>
                            <ul class="list-unstyled">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d1498.2224173448546!2d19.820582378973906!3d41.320939477788016!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d41.3209637!2d19.8204644!5e0!3m2!1sen!2sus!4v1586622527754!5m2!1sen!2sus"
                                        width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Na Ndiqni</h4>
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 copy">
                        <p class="text-center">&copy; Copyright 2020 - Fakulteti i Shkencave te Natyres.  Te gjitha te drejtat e rezervuara Evald Nexhipi , Kevin Dule.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script>

    $(function(){

        if ($("body").hasClass("rtl-layout")) {
            $(".owl-team").owlCarousel({
                items: 3,
                margin: 30,
                dots: true,
                nav: true,
                loop: true,
                autoplay: true,
                smartSpeed: 1000,
                navSpeed: true,
                autoplayHoverPause: true,
                responsiveClass: true,
                rtl: callback,
                responsive: {
                    992: {
                        items: 4,
                    },
                    600: {
                        items: 2,
                    },
                    320: {
                        items: 1,
                    },
                }
            });
            $(".owl-testimonial").owlCarousel({
                autoplay: 1000,
                smartSpeed: 1500,
                margin: 30,
                slideBy: 1,
                autoplayHoverPause: true,
                loop: true,
                dots: true,
                nav: true,
                rtl: callback,
                responsive: {
                    1200: {
                        items: 4
                    },
                    992: {
                        items: 3
                    },
                    600: {
                        items: 2
                    },
                    320: {
                        items: 1
                    },
                }
            });
        }

        /* Testimonial One */
        $(".owl-testimonial").owlCarousel({
            autoplay: 1000,
            smartSpeed: 1500,
            margin: 30,
            slideBy: 1,
            autoplayHoverPause: true,
            loop: true,
            dots: true,
            nav: true,
            responsive: {
                1200: {
                    items: 4
                },
                992: {
                    items: 3
                },
                600: {
                    items: 2
                },
                320: {
                    items: 1
                },
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.menu-toggle').click(function(){
            $('.menu-toggle').toggleClass('active');
            $('nav').toggleClass('active');
        });
    });
</script>
{% endblock %}