{% extends 'Home/homepage.html.twig' %}

{% block title %}Regjistrim{% endblock %}
{% block stylesheets %}
   {{ parent() }}
{% endblock %}
{% block body %}
    <ul class="bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
 {% block navbar%}{{ parent() }}{% endblock %}

    <!-- Fillimit i regjistrimit -->
    <section class="appointment-area">
        <div class="container">
            <div class="appointment-content">
                <span class="sub-title">Regjistrohu</span>
                <h2>Mire se erdhet!</h2>

                {{ form_start(registrationForm) }}
                {#
                <div class="alert alert-danger">
                    <ul>
                    {% for error in errors %}
                        <li>error</li>
                    {% endfor %}
                    </ul>
                </div>
                 #}
                <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-user"></i>
                                </div>
                                <label>Emri<span style="color:red">*</span></label>
                                {{ form_row(registrationForm.firstName, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-envelope"></i>
                                </div>
                                <label>Mbiemri<span style="color:red">*</span></label>
                                {{ form_row(registrationForm.lastName, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <label>Email<span style="color:red">*</span></label>



                                {{ form_row(registrationForm.email, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <label>Gjinia<span style="color:red">*</span></label>
                                {{ form_row(registrationForm.gender, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <label>Password<span style="color:red">*</span></label>
                                {{ form_row(registrationForm.password.first, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <label>Perserit Password<span style="color:red">*</span></label>
                                {{ form_row(registrationForm.password.second, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <label id="telefonLabel">Telefon</label>
                                {{ form_row(registrationForm.telephone, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <label>Adresa</label>
                                {{ form_row(registrationForm.address, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6">
                            <div class="form-group" style="border:none;">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <label>Ditelindja<span style="color:red">*</span></label>
                                {{ form_row(registrationForm.birthday, {'attr':{'type':'text','class':'nice-select'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group" style="border:none;">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>

                                <label for="registration_form_imageFilename" id="fotoLabel">
                                    <i class="glyphicon glyphicon-open"></i>&nbsp;
                                    Foto Profili
                                </label>
                                <span>
                                    <strong style="font-size:13px;" id="file-selected"></strong>
                                    <span id="file-name" style="font-size:13px;"></span>
                                </span>
                                {{ form_row(registrationForm.imageFilename) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <button id="butoniSubmit"
                                    type="submit"
                                    class="btn butoni"
                                    style="margin-top:7%;margin-left:35%;">
                                Regjistrohu
                                <i class="flaticon-right-chevron">
                                </i></button>
                        </div>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
    <!-- Fund i regjistrimit -->
    {% block footer %}{{ parent() }}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var count=0;
        $('#butoniSubmit').click(function () {
         var telephoneField = $("#registration_form_telephone");
            if (isNaN(telephoneField.val())) {
                count++;
                if (count==1) {
                    $('#telefonLabel+div').prepend(
                        '<ul>' +
                        '<li> Telefoni te permbaje numra </li>' +
                        '</ul>'
                    );
                //REDIRECT AGAIN HERE
                    location.replace({{ path('app_register') }});

                }
                //REDIRECT AGAIN HERE

            }
        });
        var inputFile = document.getElementById("registration_form_imageFilename");
        var fileNameField = document.getElementById("file-name");
        var fileSelectedStrong = document.getElementById('file-selected');
        inputFile.addEventListener('change',function(event){
            var uploadedFileName = event.target.files[0].name;
            fileSelectedStrong.textContent= 'Foto e zgjedhur: ';
            fileNameField.textContent = uploadedFileName;
        });
    </script>
{% endblock %}