{% extends 'Home/homepage.html.twig' %}

{% block title %}Regjistrim{% endblock %}
{% block stylesheets %}
   {{ parent() }}
{% endblock %}
{% block body %}
    <ul class="bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
 {% block navbar%}{{ parent() }}{% endblock %}

    <!-- Fillimit i regjistrimit -->
    <section class="appointment-area">
        <div class="container">
            <div class="appointment-content">
                <span class="sub-title">Regjistrohu</span>
                <h2>Mire se erdhet!</h2>


                    {{ form_start(registrationForm) }}

                {{ form_errors(registrationForm) }}
                <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-user"></i>
                                </div>
                                <label>Emri</label>
                                {{ form_row(registrationForm.firstName, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-envelope"></i>
                                </div>
                                <label>Mbiemri</label>
                                {{ form_row(registrationForm.lastName, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <label>Email</label>
                                {{ form_row(registrationForm.email, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <label>Gjinia</label>
                                {{ form_row(registrationForm.gender, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <label>Password</label>
                                {{ form_row(registrationForm.password.first, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <label>Password</label>
                                {{ form_row(registrationForm.password.second, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <label>Telefon</label>
                                {{ form_row(registrationForm.telephone, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <label>Adrese</label>
                                {{ form_row(registrationForm.address, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6">
                            <div class="form-group" style="border:none;">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <label>Ditelindja</label>
                                {{ form_row(registrationForm.birthday, {'attr':{'type':'text','class':'nice-select'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <button class="btn butoni" style="margin-top:7%;margin-left:35%;">Make Appointment
                                <i class="flaticon-right-chevron">

                                </i></button>
                        </div>
                    {#
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="flaticon-support"></i>
                                </div>
                                <label>Select Your Services</label>
                                <select class="nice-select">
                                    <option>Cardiology</option>
                                    <option>Urologic Oncology</option>
                                    <option>Neurology</option>
                                    <option>Medicine</option>
                                    <option>Surgery</option>
                                    <option>Urology</option>
                                    <option>Radiology</option>
                                    <option>Neurosurgery</option>
                                    <option>Bariatric Surgery</option>
                                </select>
                            </div>
                        </div>
#}
                    </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
    <!-- Fund i regjistrimit -->
    {% block footer %}{{ parent() }}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}