{% extends 'user/admin/admin_profile.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        #form1 li{
            color: red;
            list-style-type: circle;
        }

        #form2 li{
            color: red;
            list-style-type: circle;
        }
    </style>
{% endblock %}
{% block trupi %}
    <div class="row">
        <div class="col-lg-6 equel-grid">
            <div class="grid">
                <p class="grid-header">Te Dhenat Baze</p>
                <div class="grid-body">
                    <div class="item-wrapper" id="form1">
                        {{ form_start(userForm) }}
                        {% for message in app.flashes('patientSuccess') %}
                        <div class="alert alert-success text-center">{{ message }}</div>
                        {% endfor %}
                        <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <label for="user_form_name">Emri</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                                {{ form_row(userForm.name,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <label for="user_form_surname">Mbiemri</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                                {{ form_row(userForm.surname,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                                <i class="fa fa-mail" aria-hidden="true"></i>
                                <label for="user_form_email">Email</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                                {{ form_row(userForm.email,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <label for="user_form_gender">Gjinia</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                                {{ form_row(userForm.gender,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <label for="user_form_birthday">Datelindje</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                                {{ form_row(userForm.birthday,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 equel-grid">
            <div class="grid">
                <p class="grid-header">Te dhena te tjera</p>
                <div class="grid-body">
                    <div class="item-wrapper" id="form2">

                        <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <label for="user_form_diagnosis">Diagnoza</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                                {{ form_row(userForm.diagnosis,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <label for="user_form_room">Dhoma</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                                {{ form_row(userForm.room,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <label for="user_form_tel">Telefoni</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                                {{ form_row(userForm.tel,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                <label for="user_form_address">Adresa</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                                {{ form_row(userForm.address,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                <label for="user_form_cost">Cmimi</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                                {{ form_row(userForm.cost,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-sm btn-success">Shto Pacient</button>
                        {{ form_end(userForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--HISTORIKU I REZERVIMEVE -->
    <div class="row">

    </div>
{% endblock %}