{% extends 'user/doctorProfile.html.twig' %}
{% block trupi %}
<div class="row">

    {% for client in pagination %}
    <div class="col-lg-3 equel-grid">
        <div class="grid">
            <div class="grid-body">
                <div class="item-wrapper" id="form2">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ asset('images/user/' ~ client.user.imageFilename) }}" alt="Foto Perdoruesi">
                        <h5 class="card-title text-center">{{ client.user.firstName }}  {{ client.user.lastName }}</h5>
                        <h6 class="text-center" style="font-size:12px;">{{ client.user.email }}</h6>
                        <a href="{{ path('app_doc_add_result_to',{id: client.user.id}) }}" class="btn btn-success text-center">Shto Rezultat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    <div class="row">
        <div class="col-lg-3 equel-grid">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}