{% extends 'Home/homepage.html.twig' %}

{% block title %}Reset password{% endblock %}
{% block body %}
    {% block bubbles %}
        {{ parent() }}
    {% endblock %}
    {% block navbar %}
        {{ parent() }}
    {% endblock%}

    {% block smallContainer %}
        <div class="appointment-content col-6" style="background: white;">
            {{ form_start(form) }}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" style="text-align: center;">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('errorPassword') %}
                <div class="alert alert-danger" style="text-align: center">{{ message }}</div>
            {% endfor %}
                <span class="sub-title">Rivendos Passwordin</span>
                <h4>
                    <strong>
                        Rivendosni nje Password per Llogarine tuaj!
                    </strong>
                </h4>
                <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                </div>
                                {{ form_row(form.password.first, {'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                        </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <div class="icon">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </div>
                            {{ form_row(form.password.second, {'attr':{'type':'text','class':'form-control'}}) }}
                        </div>
                    </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="icon">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                </div>
                                <label for="smsCode">Ndrysho Passwordin</label>
                                <input class="btn butoni" type="submit" name="konfirmo" id="konfirmoPass" value="Konfirmo Password">
                            </div>
                        </div>
                    </div>
            {{ form_end(form) }}
        </div>
    {% endblock%}
    {% block footer %}
        {{ parent() }}
    {% endblock%}
{% endblock %}